.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
  color: #555;
}

.footer-section {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  color: #222;
  height: 20px;
  font-size: 10px;
}

.top-section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #cccccc;
  color: #222;
  min-width: 340px;
}

.top-caption {
  margin-right: 40px;
}

.top-button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #b39c7a;
  color: #222;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.top-button:hover {
  background-color: #a78f6b;
  color: #000;
}

.middle-section {
  display: flex;
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #e2d8d0;
}

.sidebar {
  width: 200px;
  background-color: #d2b59b;
  display: flex;
  flex-direction: column;
  color: #222;
}

.sidebar-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item:hover {
  background-color: #b39c7a;
  color: #222;
}

.link-style {
  text-decoration: none;
  color: inherit;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-list {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  color: #555;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: 10px;
}

.user-table th {
  background-color: #d2b59b;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.user-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-table tbody tr:hover {
  background-color: #e2d8d0;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #b39c7a;
  color: #222;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #a78f6b;
  color: #000;
}

input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.delete-modal button {
  margin: 10px;
}

.register-form {
  max-width: 600px;
  width: 25%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.registration-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #b39c7a;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-form button:hover {
  background-color: #a78f6b;
}

.login-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.login-form-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-form-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #b39c7a;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form-container button:hover {
  background-color: #a78f6b;
}

.file-list {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  color: #555;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: 10px;
}

.file-table th {
  background-color: #d2b59b;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.file-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.file-table tbody tr:hover {
  background-color: #e2d8d0;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #b39c7a;
  color: #222;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #a78f6b;
  color: #000;
}

.registration-form-message {
  color: #222;
  font-size: 10px;
  margin-top: 10px;
  padding: 8px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
